---
###
# Foundation-security SonarQube workflow
# version: 2.4
###
name: Foundation-Security/SonarQube Scan

on:
  push:
    tags:
      - "**"
    branches:
      - "*main*"
      - "*master*"
      - "*STABLE*"
  pull_request:
    types: [opened, synchronize, reopened]
    branches:
      - "**"
  workflow_dispatch:
    inputs:
      ref:
        description: "Branch to scan"
        required: true
        default: "main"

jobs:
  SonarQube-Scan:
    name: SonarQube Scan Job
    if: ${{ github.actor != 'dependabot[bot]' }}
    permissions:
      id-token: write
      contents: read
    runs-on: ubuntu-22.04
    steps:
      - name: Create GitHub App token
        uses: EnterpriseDB/upm-github-actions/create-gh-app-token@main
        with:
          GH_APP_ID: ${{ secrets.FOUNDATION_SECURITY_APP_ID }}
          GH_APP_PRIVATE_KEY: ${{ secrets.FOUNDATION_SECURITY_APP_PRIVATE_KEY }}

      - name: Checkout source repository for dispatch runs
        id: checkout-source-dispatch
        if: github.event_name == 'workflow_dispatch'
        uses: actions/checkout@v4
        with:
          repository: ${{ github.repository }}
          ref: ${{ inputs.ref }}
          path: source
          token: ${{ env.GH_APP_TOKEN }}

      - name: Checkout source repository for non-dispatch runs
        id: checkout-source
        if: github.event_name != 'workflow_dispatch'
        uses: actions/checkout@v4
        with:
          repository: ${{ github.repository }}
          ref: ${{ github.ref }}
          path: source
          token: ${{ env.GH_APP_TOKEN }}

      - name: Checkout foundation-security repository
        id: checkout-foundation-security
        uses: actions/checkout@v4
        with:
          repository: EnterpriseDB/foundation-security
          ref: stable
          lfs: true
          path: foundation-security
          token: ${{ env.GH_APP_TOKEN }}

      - name: SonarQube Scan
        id: call-sq-composite
        uses: ./foundation-security/actions/sonarqube
        with:
          github-token: ${{ env.GH_APP_TOKEN }}
          github-ref: ${{ github.event_name == 'workflow_dispatch' && inputs.ref || github.ref_name }}
          sonarqube-url: ${{ vars.SQ_URL }}
          sonarqube-token: ${{ secrets.SONARQUBE_TOKEN }}
          project-name: ${{ github.event.repository.name }}
          pull-request-key: ${{ github.event.number }}
          pull-request-branch: ${{ github.head_ref }}
          pull-request-base-branch: ${{ github.base_ref }}
          foundation-security-sonarqube-token: ${{ secrets.FOUNDATION_SECURITY_SONARQUBE_TOKEN }}
